@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');
@layer base { 
    body {
        @apply font-[Raleway];
        background-color: #5d7eaf;
    }
    li {
        @apply px-4;
        @apply cursor-pointer
    }
}
.content-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
    background-color: rgb(63, 81, 129);
}
.content-div:hover {
    background-image: linear-gradient(
        to right,
        rgba(110, 121, 145, 0.8),
        hsla(240, 7%, 83%, 0.8)   
    )!important;
}
